body{
    display: flex;
    height: 100% !important;
    margin: 0;
    padding:20px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.pane {
    flex: 1;
}
pre{
    font-size:16px;
}
